nav ul li {
  display: inline-block;
  color: #9b3925;
  font-family: 'Josefin Slab', serif;
  margin: 10px 20px 8px 20px;
  font-weight: bolder;
  font-size: 30px;
}
nav {
  background-color: #bac6db;
  margin: -30px 0 0 0;
  text-align: center;
}
.nav-pills > li {
    float: none;
    display:inline-block;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #9b3925;
}
.jumbotron {
  background-color: #9b3925;
  padding: 20px;
}
a {
  text-decoration: none;
}
h1 {
  color: purple;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 65px;
  letter-spacing: 4px;
  margin: 60px 0 0 0;
  text-align: center;
}
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #e0725c;
  font-size: 30px;
  text-align: center;
  margin: 0px 0 40px 0;
}
body {
  background-color: #ccd6e5;
  color: #9b3925;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
#top_rated_title {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}
#top_rated {
  padding: 20px;
}
.title {
  font-size: 20px;
  font-weight: lighter;
}
.topdescription {
  font-size: 15px;
}
h3 {
  color: #ccd6e5;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  background-color: #4f89b5;
  padding: 30px;
  font-size: 30px;
  margin: 40px 0 0 0;
}
.active {
  text-decoration: none;
}
.container {
  padding-right: 5px;
  padding-left: 5px;
}
