nav ul li {
  display: inline-block;
  font-family: 'Josefin Slab', serif;
  margin: 10px 20px 8px 20px;
  font-weight: bolder;
  font-size: 30px;
}
nav {
  background-color: #9eb3d8;
  margin: -30px 0 0 0;
  text-align: center;
  border-bottom: 4px solid #899ab7;
}
#footer {
  background-color: #9eb3d8;
  margin: 100px 0 0 0;
  /* text-align: center; */
  text-align: left;
}
nav #footer {
  border-top: 4px solid #899ab7;
  text-align: center;
}
#footer a {
  text-decoration: none;
}
#footer ul li {
  /*display: inline-block;*/
  font-family: 'Josefin Slab', serif;
  /* margin: 10px 20px 8px 20px; */
  font-weight: bolder;
  font-size: 30px;
}
.nav-pills > li {
    float: none;
    display:inline-block;
}
.nav-pills a {
  color: #9b3925;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
  background-color: #9b3925;
  color: #9eb3d8;
}
.nav>li>a {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 25px;
}
.jumbotron {
  background-color: #9b3925;
  /* background-color: #BC452D; */
  /* background-image: url('../images/oldbrick.jpg'); */
  /* background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.5; */
  padding: 10px;
}
.jumbotron a {
  text-decoration: none;
}
.jumbotron h1 {
  color: #9eb3d8;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  font-size: 65px;
  letter-spacing: 4px;
  margin: 45px 0 0 0;
  text-align: center;
}
.logo_area {
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}
.logo_area img {
  width: 35%;
}
.logo_area:hover {
  transform: scale(1.03);
}
.jumbotron h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  color: #e0725c;
  font-size: 30px;
  text-align: center;
  margin: 0px 0 40px 0;
}
body {
  background-color: #ccd6e5;
  color: #9b3925;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}
#top_rated_title {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}
#form-title {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
  padding:20px 0 0 0;
}
#top_rated {
  padding: 20px;
}
.title {
  font-size: 20px;
  font-weight: lighter;
}
.topdescription {
  font-size: 15px;
}
h3 {
  color: #0B132B;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  padding: 30px;
  font-size: 30px;
  margin: 20px 0 0 0;
  margin-left: 120px;
}
#people-h3
{
  margin:0;
}
.container {
  padding-right: 5px;
  padding-left: 5px;
}

#weather h1 {
  font-size: 25px;
  font-family: 'Raleway', sans-serif;
}
.img-eat {
  object-fit: cover;
  width:380px;
  height:380px;
}
.row.no-pad {
  margin-right:0;
  margin-left:0;

}
.row.no-pad > [class*='col-'] {
  padding-right:0;
  padding-left:0;
  padding-bottom:2.5px;
  padding-top:2.5px;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.img-shop {
  object-fit: cover;
  width:380px;
  height:380px;
}
.img-walk {
  object-fit: cover;
  width:380px;
  height:380px;
}
.square img {
  opacity: 1;
  transition: opacity .40s ease;
  -webkit-transition: opacity .40s ease;
}
.square:hover img {
  opacity: 0.1;
}
.square .fadeText {
  opacity: 0;
  transition: opacity .40s ease;
  -webkit-transition: opacity .40s ease;
  color: #0B132B;
  font-size: 35px;
  text-align: center;
  margin: 0 0 100px 0;
}
.square:hover .fadeText {
  opacity: 1;
}
.checked {
  color: #0B132B;
}
.glyphicon {
  font-size: 20px;
  text-align: center;
  position: relative;
  opacity: 0;
  transition: opacity .25s ease;
  -webkit-transition: opacity .25s ease;
}
.square:hover .glyphicon {
  opacity: 1;
}
.fadeText h4 {
    font-size: 36px;
    font-family: 'Josefin Slab', serif;
    font-weight: bold;
}
.fadeText h5 {
  font-size: 20px;
  padding: 10px;
}
.form{
  text-align:center;
  font-family: 'Josefin Slab', serif;

 }
#about-form-label  {
  font-family: 'Raleway', sans-serif;
  padding:5px 0 0 0;

 }
form input{
  font-family: 'Raleway', sans-serif;
  background-color: #9b3925;
}
.form-control:focus{
  border-color: #9b3925;
  padding:5px;
  box-shadow: none;
  -webkit-box-shadow: none;
}
.has-error .form-control:focus{
  box-shadow: none;
  -webkit-box-shadow: none;
}

 .btn{
  background-color: #9b3925;
  border:0px solid transparent;
  margin:15px 0 0 0;}

.portraits img {
  height: 380px;
  width: 380px;
  object-fit: cover;
}

 .img-eat {	.img-eat {
  object-fit: cover;	  object-fit: cover;
  width:380px;	  width:380px;
